.chrtwidth{width: 80%;height: 100%}
/* .chrtwidth{width: 200px;height: 200px} */
.mgbtm20{margin-bottom: 20px;}
/* .chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
} */
